body{
    background: #0F0E0E;

    background: linear-gradient(to bottom, #060505 0%, #0a0202 100%);
}
h1, h2{
    font-size: 2em;
    margin: 2rem auto;
    font-weight: bold;
    color: #F1EEE9;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 2rem;
    height: 3rem;
    text-align: center;
    border-radius: 4%;
    max-width: 300px;
}
.start{
    transition: all 0.5s ease-in-out;
    margin-top: 2rem;
    font-size: 2rem;
    height: 3rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    width: 20%; 
}

.options{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:#F1EEE9;
    border-radius: 10px;
    border: #1D1A1A solid 1px;
    text-align: center;
    padding: 1rem;
    width: 8rem;
    height: 1.5rem;
    font-size: 2rem;
}
a:hover{
    transition: all 0.5s ease-in-out;
    background-color: #191254;
    border: #73777B 1px solid;
}

.start:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 6px #1D1A1A;
    background-color: #191254;
    border: #73777B 1px solid;
}


.rules{
    margin: auto;
    width: 80%;
    background-color: rgb(32, 32, 122);
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    cursor: pointer;
    color: #F1EEE9;
    transition: all 0.5s ease-in-out;
}
.rules:hover{
    background-color: #191254;
    border: #73777B 1px solid;
}
.rules p{
    margin-left: 5px;
    text-align: start;
}
li{
    margin-left: 1rem;
}