<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <title>Game</title>
  </head>
  <body>
    <h1>Hi {{ session.name }}, welcome to the game</h1>
    <h1>guess the numbers and their places between 0 and 50</h1>
    <h1>you made {{ session.attempts }} attempts</h1>
    <div class="container">
        <div >
            {% for item in session.numbers %}
            <span>?</span>
            {% endfor %}
        </div>
        <div>
          <form action="" method="POST">
            {% for index in range(5) %}
              {% if session.userNumbers: %}
                <input type="number" id={{index}} name={{index}} class={{clase[index]}} value={{session.userNumbers[index]}} />
              {% else %}
                <input type="number" id={{index}} name={{index}} class={{clase[index]}} />
              {% endif %}
            {% endfor %}
          </div>
          <input class="enviar"  type="submit" value="check values" />
        </form>
      </div>
      {% if session.isWinner == "true" %}
      <div class="again">
        <h4>you won, do you want to play again?</h4>
        <div class="form-again">
          <a class="yes" href="game">yes</a>
          <a class="no" href="options">no</a>
        </div>
     </div>
      {% endif %}

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
  </body>
</html>

