<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Home</title>
  </head>
  <body>
    <div class="container" >
        <h1>Hi, welcome to the game</h1>
        <h2>Please enter your name</h2>
    <div class="form">
        <form action="" method="POST">
            <input class="name" type="text" name="name" autocomplete="false" placeholder="Enter your name" />
            <input class="start" type="submit" value="Start" />
        </form>
    </div>


    </div>
  </body>
</html>

