<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Options</title>
  </head>
  <body>
    <nav>
      <div class="login">
          <a href="options">{{ session.name }}</a>
      </div>
  </nav>
    <h2>Choose your destiny</h2>
    <div class="options">
      <a class="optios__a"  href="{{ url_for('game') }}"> game </a>
      <a class="optios__a" href="{{ url_for('statistics') }}"> statics </a>
    </div>
    <div class="rules">
      <h2>Rules:</h2>
      <p>
        The game is played with 4 numbers between 0 and 50. The numbers are
        generated randomly. You have to guess the numbers and their places. You
        have only 10 attempts. If you guess the numbers correctly, you win. If
        you don't guess the numbers correctly, you lose.
      </p>
      <div>
        <li>
          <p style="color:green ;">green means correctly position and number</p>
        </li>
        <li>
          <p style="color: yellow;" >yellow means correctly number</p>
        </li>
        <li>
          <p style="color: red ;">red means incorrect</p>
        </li>
      </div>
    </div>
  </body>
</html>
