<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/statistics.css') }}"
    />
  </head>
  <body>
    {% if not session.logged_in %}
    <script>
      window.location.href = "{{ url_for('login') }}";
    </script>
    {% endif %}
    <nav>
        <div class="back">
          <a href="{{ url_for('options') }}">Back</a>
        </div>
      <div class="login">
        <a href="options">{{ session.name }}</a>
        <a href="logout">Logout</a>
      </div>
    </nav>
    <h2>Statistics</h2>
      <form method="POST">
        <div class="form_user">
          <label for="user">User:</label>
          <select name="user" id="user" >
            <option value="all" selected>All</option>
            {% for user in users %}
              <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form__period">
          <label for="from">From  
          </label>
          <input type="date" class="from" name="from" id="from">
        </div>
        <div class="form__period">
          <label for="to">To
          </label>
          <input type="date" class="to" name="to" id="to">
        </div>
        <input type="submit" value="query" class="submit">
      </form>
    <div class="statistics">
      <div class="statistics__container">
        <h3>Resume:</h3>
        <p>* Played {{ resume.played }} games.</p>
        <p>* Won {{ resume.wins }} games.</p>
        <p>* Lost {{ resume.losses }} games.</p>
        <table>
          <tr>
            <th>user </th>
            <th>game</th>
            <th>attempts</th>
            <th>duration(m)</th>
            <th>Result</th>
            <th>Date</th>
          </tr>
          {% for game in statistics %}
          <tr>
            <td>{{ statistics[game].user }}</td>
            <td>{{ game }}</td>
            <td>{{ statistics[game].attempts }}</td>
            <td>{{ statistics[game].duration }}</td>
            <td>
              {{ "Winner" if statistics[game].is_winner else
              "Loser" }}
            </td>
            <td>{{ statistics[game].date }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <a href="{{ url_for('options') }}">Back to options</a>
    </div>
  </body>
</html>
